@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUSE";
  src: url("/fonts/suse/SUSE-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SUSE";
}

.article h1 {
  @apply lg:text-5xl text-4xl font-medium;
}
.article h2 {
  @apply lg:text-4xl text-3xl font-medium;
}
.article h3 {
  @apply lg:text-3xl text-2xl font-medium;
}
.article h4 {
  @apply lg:text-2xl text-xl font-medium;
}
.article h5 {
  @apply lg:text-lg text-sm font-medium;
}
.article h6 {
  @apply lg:text-xs text-xs font-medium;
}

.article blockquote {
  @apply bg-amber-100 p-5 rounded-xl  relative pl-14 ring-1  ring-amber-300;
  position: relative;
}
.article blockquote span {
  font-weight: 500;
}
.article ol {
  @apply bg-amber-100 rounded-xl p-5 ring-1  ring-amber-300;
}

.article ul li {
  list-style-type: disc;
  padding-left: 2rem;
}
.article ol li {
  list-style-type: decimal;
  padding-left: 1rem;
}

.article li span {
  padding-left: 10px;
}
.article ul li::marker {
  @apply text-amber-900;
}
.article ol li::marker {
  font-weight: 500;
}
.article img {
  display: block;
  width: 100%;
  max-width: 400;
  max-height: 500;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 1%;
}
.article a {
  color: #c9b24d;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.tag::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  bottom: 100%;
  left: 0;
  border-radius: 50%;
  box-shadow: -25px 25px #fffbeb;
}

.tag::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  bottom: 0;
  left: 100%;
  border-radius: 50%;
  box-shadow: -25px 25px #fffbeb;
}
.tag2::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  right: 100%;
  top: 0;
  border-radius: 50%;
  box-shadow: 25px -25px #fffbeb;
}
.tag2::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  top: 100%;
  right: 0;
  border-radius: 50%;
  box-shadow: 25px -25px #fffbeb;
}

.tag3::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  right: 100%;
  top: 0;
  border-radius: 50%;
  box-shadow: 25px -25px #fffbeb;
}

.tag3::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: transparent;
  right: 0;
  top: 100%;
  border-radius: 50%;
  box-shadow: 25px -25px #fffbeb;
}
